<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="title">MyBrand</div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/user">User</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h3 class="main-heading">This is Home page</h3>
    </main>
</body>
</html>